img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 1em;
}

div.question {
    margin-left: 1em;
    padding-left: 1em;
    border-left: solid red;
}

div.question::before {
    content: "Question";
    font-size: larger;
    margin-bottom: 0.5em;
}

div.question p {
    margin-top: 0.5em;
}

div.answer {
    margin-left: 1em;
    padding-left: 1em;
    border-left: solid;
    margin-bottom: 2em;
}

div.answer::before {
    content: "Réponse";
    font-size: larger;
    margin-bottom: 0.5em;

    cursor: pointer;
}

/* div.answer:hover p {
    display: block;
} */

div.answer p {
    margin-top: 0.5em;
    /* display: none; */
}